
.roundshape {
    background: url(Photos/roundbackground.svg);
}

.digitalHQ {
    padding-left: 16px;
    padding-right: 16px;
    padding-top: 45px;
    padding-bottom: 65px;
    flex-direction: column;
    align-items: center;

}

.baslik {
    
    padding-left: 50px;
    padding-right: 50px;
    margin-left: 65px;
    margin-right: 65px;
    text-align: center;
    flex-direction: row;
    
}

h1, h2 {
    font-size: calc(2rem + (18 * (100vw - 400px)/ 624)); /* web sitesinden forkladim*/
    font-weight: 700;
    line-height: 1.0625; 
    letter-spacing: -1.6px;
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif; 
    display: inline;
    padding: 10px;
}

h2 {
    color: #611f69;
}

.baslikalti {
    width: 790px;
    font-size: 21px;
    margin-bottom: 16px;
    font-family: Slack-Circular-Pro,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    flex-flow: column;

}

.talktosales {
    background-color: #611f69;
    color: #fff;
    border: none;
    font-size: 14px;
    letter-spacing: 2px;
    border-radius:4px;
    min-height:60px; 
    min-width: 60px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 19px;
    padding-bottom: 20px;
    text-transform: uppercase;
    justify-content: center;
    
} 
.talktosales:hover {
    background-color:#4A154B;
    transition: 0.3s;
}

.tryforfree {
    background-color: transparent;
    color: #611f69;
    border-color:#611f69;
    font-size: 14px;
    letter-spacing: 2px;
    text-transform: uppercase;
    justify-content: center;
    border-radius:4px;
    min-height:60px; 
    min-width: 60px;
    padding: 19px 40px 20px;
} 

.tryforfree:hover {
    
    transition:0.3;
}


.videobottom {
    max-width: 800px;
    width: 100%;
    height: 500px;
    display: inline-block;
    vertical-align: baseline;
}










.the_new_space {
    font-size: 3.125rem;
    font-family: Slack-Larsseit,"Helvetica Neue",Helvetica,"Segoe UI",Tahoma,Arial,sans-serif;
    font-weight: 700;
    line-height: 1.1875;
    letter-spacing: -.3px;
    margin-bottom: 1rem;
    box-sizing: inherit;

}

.p1 {
    margin: 0;
    margin-bottom: 1rem;
    font-size: 1.125rem;
}
